.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.vertical-text-rtl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.box-pattern {
  background-color: #110101;
  opacity: 1;
  background-image:  linear-gradient(#410404 1.3px, transparent 1.3px), linear-gradient(to right, #410404 1.3px, #110101 1.3px);
  background-size: 36px 36px;
}

.grid {
  grid-auto-rows: min-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.grid-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* This creates a square aspect ratio */
}

.grid-item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avoid-break {
  break-inside: avoid;
  margin-bottom: 1rem; /* Adds consistent spacing */
}
